<!doctype html>
<html>
<head>
    <title>{{title}}</title>
</head>
<body>
    <canvas id="pantograph-canvas"/>
    <script>
        var canvas = document.getElementById("pantograph-canvas")
        var fullWidth = window.innerWidth;
        var fullHeight = window.innerHeight;
        canvas.width = {{width}};
        canvas.height = {{height}};
        var url = "{{url}}";
        var ws_url = "ws://" + window.location.host + "{{ws_url}}";
        var title = "{{title}}";
    </script>
</body>
</html>
