<!doctype html>
<html>
<head>
    <title>{{title}}</title>
    <style>
      body {
        width: 100%;
        height: 100%;
        padding: 0px;
        margin: 0px;
      }
      #pantograph-canvas {
        margin-left: auto;
        margin-right: auto;
      }
    </style>
</head>
<body>
    <canvas id="pantograph-canvas"></canvas>
    <script type="text/javascript">
        var canvas = document.getElementById("pantograph-canvas")
        var trimBy = 10;
        var fullWidth = document.documentElement.clientWidth - trimBy;
        var fullHeight = document.documentElement.clientHeight - trimBy;
        canvas.width = {{width}};
        canvas.height = {{height}};
        var url = "{{url}}";
        var ws_url = "ws://" + window.location.host + "{{ws_url}}";
    </script>
    <script type="text/javascript" src="/js/pantograph.js"></script>
</body>
</html>
